<html style="background-color:#050505;">
<style>

.center {
    display: flex;
    justify-content: center;
}

.tittle {
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font: bold 10pt Arial, Helvetica, sans-serif;
        font-style: italic;
        font-size: 30px;
        margin: 40;
    }
</style>

<body style="background-color:#050505;">
  <div class="center">
    <h1 class="tittle">" {{ citation }} "</h1>
  </div>
  <div class="center">
    <form method="post" action="/">
      <input type="image" src="static/jul.png" name="return" />
    </form>
</div>
</body>



</html>